<app-default-auth-layout
  pageTitle="Bem-vindo(a) <br class='block sm:hidden'> de volta!"
  pageSubTitle="Insira o endereço de email e senha para entrar em sua conta KelvinBoard"
  formTitle="Login"
>
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="flex flex-col w-full">
    <div class="flex flex-col gap-4">
      <app-base-input
        [control]="emailControl"
        formControlName="email"
        label="Email"
        type="email"
        placeholder="Seu endereço de email"
      >
        <i class="ph ph-envelope-simple"></i>
      </app-base-input>

      <app-base-input
        [control]="passwordControl"
        formControlName="password"
        label="Senha"
        type="password"
        placeholder="Sua senha"
      >
        <i class="ph ph-password"></i>
      </app-base-input>
    </div>
    <a
      routerLink="/password-recovery"
      class="w-max ml-auto mt-1 text-sm text-secondary hover:text-primary hover:underline outline-none focus:text-primary focus:underline duration-300 ease-in-out"
    >
      Esqueceu a senha?
    </a>
    <div class="flex flex-col items-center justify-center gap-4 w-full mt-8">
      <app-button [loading]="isLoading" [errorButton]="errorButton">
        Login
      </app-button>
      <a
        routerLink="/create-password"
        routerLinkActive="active-page"
        class="text-sm rounded-xl text-secondary hover:text-primary outline-none focus:text-primary focus:underline hover:underline duration-300 ease-in md:flex-row md:gap-1 lg:px-3"
      >
        É seu primeiro acesso? Crie uma senha.
      </a>
    </div>
  </form>
</app-default-auth-layout>
