<main class="flex flex-col items-center h-screen">
  <div class="absolute inset-0 m-4 rounded-2xl bg-authBG bg-no-repeat bg-[position:top_center] bg-cover h-[60%] md:m-6 md:h-[40%] xl:bg-contain xl:h-[70%]"></div>

  <div class="relative z-10 w-full mt-10 2xl:mt-10">
    <header class="flex justify-center items-center rounded-xl w-max px-8 py-2 mx-auto bg-white/20 md:px-10 md:py-3">
      <nav class="flex items-center justify-center gap-4 uppercase text-white font-bold tracking-wide md:gap-8 lg:gap-4">
        <a 
          routerLink="/login"
          routerLinkActive="active-page" 
          class="flex flex-col items-center rounded-xl outline-none sm:focus:outline-2 sm:focus:outline-white duration-300 ease-in md:flex-row md:gap-1 lg:px-3"
        >
          <i class="ph-fill ph-key text-lg"></i>
          <span class="hover:underline text-xs">login</span>
        </a>
        <a  routerLink="/create-password"
            routerLinkActive="active-page" 
            class="flex flex-col items-center rounded-xl outline-none sm:focus:outline-2 sm:focus:outline-white duration-300 ease-in md:flex-row md:gap-1 lg:px-3"
        >
          <i class="ph-fill ph-user-circle-check text-lg"></i>
          <span class="hover:underline text-xs">primeiro acesso</span>
        </a>
      </nav>
    </header>

    <section class="flex flex-col items-center w-full h-full px-8 mt-6 mx-auto md:mt-6">
      <div class="text-center mb-8 lg:mb-6">
        <h1 class="text-3xl text-white font-bold" [innerHTML]="pageTitle"></h1>
        <h2 class="text-base text-white mt-2 mx-auto w-[90%] sm:w-full">{{ pageSubTitle }}</h2>
      </div>

      <div class="flex flex-col items-center justify-center w-full h-auto rounded-2xl py-8 px-5 bg-white shadow-[8px_8px_24px_rgba(0,0,0,0.1)] md:px-8 md:w-[60%] lg:w-[40%] xl:w-[30%] 2xl:w-[25%]">
        <img src="assets/svg/logo.svg" alt="logo da página" class="w-[60%] md:w-[50%]"/>
        <h3 class="text-2xl text-secondary font-bold uppercase mt-6 mb-4">{{ formTitle }}</h3>
        <ng-content></ng-content>
      </div>
    </section>
  </div>
</main>
