<section class="bg-white shadow rounded-xl p-4">
  <div
    class="flex flex-col sm:flex-row sm:justify-between sm:items-center mb-4 gap-2"
  >
    <div>
      <h2 class="text-lg font-semibold text-gray-700">Pedidos</h2>
      <span class="flex items-center gap-1 pl-1 text-sm text-colorGray-600">
        @if (orders.length > 0) {
          <i class="ph-fill ph-check-circle text-base text-green-400"></i>
          } @else {
            <i class="ph-fill ph-x-circle text-base text-red-400"></i>
        }
        <span>{{ orders.length }} recebido{{ (orders.length > 1) ? "s" : "" }} {{ (period == 7) ? "essa semana" : "esse mês" }}</span>
      </span>
    </div>

    <!-- [control]="orderTableControl" -->
    <app-base-input
      formControlName="search"
      type="text"
      placeholder="Buscar cliente..."
      (input)="search.emit($any($event.target).value)"
    >
      <i class="ph ph-magnifying-glass"></i>
    </app-base-input>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-colorGray-600/30">
      <thead>
        <tr>
          <th
            class="pl-2 py-2 text-left text-sm font-medium text-colorGray-600 uppercase tracking-wide"
          >
            Data
          </th>
          <th
            class="pl-2 py-2 text-left text-sm font-medium text-colorGray-600 uppercase tracking-wide"
          >
            Cliente
          </th>
          <th
            class="pl-2 py-2 text-left text-sm font-medium text-colorGray-600 uppercase tracking-wide"
          >
            Valor
          </th>
          <th
            class="pl-2 py-2 text-left text-sm font-medium text-colorGray-600 uppercase tracking-wide"
          >
            Status
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-colorGray-600/30">
        @for (order of orders; track order.id) { 
          <tr class="hover:bg-colorGray100/60">
            <td class="px-4 py-3 text-sm text-colorGray600">
              {{ order.date.toLocaleDateString('pt-BR') }}
            </td>
            <td class="px-4 py-3 text-sm text-colorGray600">
              {{ order.client }}
            </td>
            <td class="px-4 py-3 text-sm font-medium text-colorGray700">
              {{ order.value | currency:'BRL' }}
            </td>
            <td class="pl-3 pr-4 py-3 text-sm">
              <span
                class="inline-block py-1 px-3 rounded-full text-xs font-medium bg-green-100 text-green-600"
                [ngClass]="{
                  'bg-green-100 text-green-700': order.status === 'PAID',
                  'bg-yellow-100 text-yellow-700': order.status === 'PENDING',
                  'bg-red-100 text-red-700': order.status === 'CANCELED'
                }"
              >
                {{ order.status }}
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
