<app-default-auth-layout
  pageTitle="Bem-vindo(a)!"
  pageSubTitle="Insira seu endereço de email para criar uma nova senha"
  formTitle="Recuperação de senha"
>
  <app-toast></app-toast>

  <div class="w-full">
    <ul class="flex gap-4 mb-3 px-4">
      <li class="flex-1 h-[6px] rounded-full bg-blue-600"></li>
      <li 
        class="flex-1 h-[6px] rounded-full"
        [ngClass]="{ 
          'bg-blue-200': activeStep === 1,
          'bg-blue-600': activeStep === 2

         }"
      ></li>
    </ul>
  </div>

  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()" class="flex flex-col w-full">
    <div class="flex flex-col gap-4">
      <app-base-input
        [control]="emailControl"
        formControlName="email"
        label="Email"
        type="email"
        placeholder="Seu endereço de email"
        [readonly]="activeStep === 2"
      >
        <i class="ph ph-envelope-simple"></i>
      </app-base-input>

      @if (activeStep === 2) {
        <app-base-input
          [control]="codeControl"
          formControlName="code"
          label="Código"
          type="text"
          placeholder="Seu código"
        >
          <i class="ph ph-key"></i>
  
          <p card-2 class="text-xs ml-3 mt-1">
            Código(mock) para testes de acesso:
            <span class="text-red-500 font-bold">123456</span>
          </p>

          <button 
            type="button"
            card-3 
            [disabled]="!canResendCode"
            (click)="sendCode()"
            class="absolute bottom-0 right-0 h-[53px] min-w-[120px] px-3 rounded-[15px] text-white font-bold outline-none bg-primary hover:bg-secondary focus:outline-2 focus:outline-secondary duration-300 ease-in-out"
            [ngClass]="{
              'bg-primary/60 cursor-not-allowed hover:bg-primary/60': !canResendCode
            }"
          >
            @if (canResendCode) {
              <span class="flex items-center justify-center gap-2 text-sm"><i class="ph ph-arrow-clockwise text-base"></i> Reenviar</span>
            } @else {
              <span class="flex items-center justify-center gap-1 text-base"><i class="ph ph-clock"></i> {{ resendCountdown }}s </span>
            }
          </button>
        </app-base-input>
  
        <app-base-input
          [control]="newPasswordControl"
          formControlName="newPassword"
          label="Nova Senha"
          type="password"
          placeholder="Sua senha"
        >
          <i class="ph ph-password"></i>
  
          <div card-2 class="h-1 w-[95%] bg-gray-200 rounded mt-2 mx-auto">
            <div
              class="h-1 rounded transition-all duration-300"
              [ngClass]="{
                'bg-red-500 w-1/4': passwordStrengthLevel === 'weak',
                'bg-yellow-500 w-2/4': passwordStrengthLevel === 'medium',
                'bg-blue-600 w-3/4': passwordStrengthLevel === 'strong',
                'bg-green-500 w-full': passwordStrengthLevel === 'veryStrong',
              }"
            ></div>
          </div>
        </app-base-input>
  
        <app-base-input
          [control]="newPasswordConfirmControl"
          [form]="passwordRecoveryForm"
          formControlName="newPasswordConfirm"
          type="password"
          placeholder="Confirme sua senha"
          class="-mt-3"
        >
          <i class="ph ph-password"></i>
        </app-base-input>
      }
    </div>

    <div class="flex flex-col items-center justify-center gap-4 w-full mt-8">
      <app-button [loading]="isLoading" [errorButton]="errorButton">
        {{ activeStep === 1 ? 'Receber código' : 'Criar nova senha' }}
      </app-button>
    </div>
  </form>
</app-default-auth-layout>
