<app-default-auth-layout
  titlePage="Bem-vindo(a)!"
  subTitlePage="Insira o endereço de email da sua conta KelvinBoard para criar uma senha"
  pageTitle="Primeiro Acesso"
  primaryBtnText="Criar senha"
  secondaryBtnText="Já possui uma senha? Faça login."
  secondaryBtnRoute="login"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="createPasswordForm" class="flex flex-col w-full mb-8">
    <div class="flex flex-col gap-4">
      <app-base-input
        formControlName="email"
        label="Email"
        type="email"
        placeholder="Seu endereço de email"
      >
        <i class="ph ph-envelope-simple"></i>
      </app-base-input>
      <span>Este campo é obrigatório.</span>

      <app-base-input
        formControlName="code"
        label="Código"
        type="email"
        placeholder="Seu código de acesso"
      >
        <i class="ph ph-key"></i>
      </app-base-input>
      <p class="text-xs ml-3 -mt-3">Código(mock) para testes de acesso: <span class="text-red-500 font-bold">123456</span></p>

      <app-base-input
        formControlName="newPassword"
        label="Senha"
        type="password"
        placeholder="Sua senha"
      >
        <i class="ph ph-password"></i>
      </app-base-input>

      <app-base-input
        formControlName="newPasswordConfirm"
        type="password"
        placeholder="Confirme sua senha"
        class="-mt-3"
      >
        <i class="ph ph-password"></i>
      </app-base-input>
    </div>
  </form>
</app-default-auth-layout>