<div>
  <label class="text-gray-700 text-sm">
    {{ label }}  
    <div class="relative mt-1">
      <input
        [id]="type"
        [type]="type"
        [placeholder]="placeholder"
        [value]="value"
        (input)="onInput($event)"
        (blur)="onTouched()"
        [readonly]="readonly"
        [disabled]="isLoading"
        class="w-full {{ sizePY }} pl-9 pr-2 rounded-[15px] border outline-none hover:outline-2 hover:outline-secondary focus:outline-2 focus:outline-secondary duration-300 ease-in-out"
      />
      <div class="absolute inset-0 flex items-center w-max pl-3 text-xl text-secondary">
        <ng-content></ng-content>
      </div>
      <ng-content select="[card-3]"></ng-content>
    </div>
  </label>

  <ng-content select="[card-2]"></ng-content>

  <div class="flex gap-2 text-red-400 text-xs mt-2 ml-2">
    @if (control && control.invalid && control.touched) {
      @if (control.errors?.['required']) {
        <span>* Campo obrigatório</span>
      }
  
      @if (control.errors?.['email']) {
        <span>* Email inválido</span>
      }
  
      @if (control.errors?.['minlength']) {
        <span>
          * Senha deve ter mínimo de {{ control.errors?.['minlength'].requiredLength }} caracteres
        </span>
      }

      @if (control.errors?.['notFound']) {
        <span>* Email não encontrado</span>
      }
    }

    @if (form && form.errors?.['passwordMismatch'] && !control?.errors?.['required'] && control?.touched) {
        <span>* As senhas não coincidem</span>
    }
  </div>
</div>
